.contact-blurb {
  font-family: 'Archivo Narrow', sans-serif;
  color: #A7A7A7;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.form-field {
  min-width: 300px;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  font-family: 'Archivo Narrow', sans-serif;
  color: #A7A7A7;
  background-color: #242424;
  padding-top: 5px;
}

.contact-submit {
  margin-top: 10px;
  font-family: 'Archivo Narrow', sans-serif;
}

.contact-links {
  margin: 6px;
  color: #A7A7A7;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-blurb{
  margin-top: 0;
}