@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

.footer-text {
  font-family: 'Archivo Narrow', sans-serif;
  color: #373737;
}

.footer-list {  
  display: none;
}

.footer-nav-li {
  font-size: 0.8rem;
}

.footer-nav, .footer-div {
  position: absolute;
  bottom: 75px;
}

.footer-nav {
  width: 100%;
}

.footer-div {
  right: 0;
}