

.tutorial-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Archivo Narrow', sans-serif;
}

.tutorial-text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Archivo Narrow', sans-serif;
  color: #A7A7A7;
  width: 200px;
}

.tutorial-list {
  padding-left: 0;
}

.tutorial-li {
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  font-family: 'Archivo Narrow', sans-serif;
  margin-bottom: 10px; 
}

.tutorial-li p,
.tutorial-li button {
  line-height: 1.5; 
  margin: 0; 
  padding: 0;
}

.tutorial-start-button {
  font-family: 'Archivo Narrow', sans-serif;
  padding: 5px 7px; 
  border: 1px solid #7E7E7E;
  width: 60px;
  background-color: transparent;
  align-self: center;
}

.tutorial-button-div {
  margin-left: 20px;
}
.chorus-text-div {
  flex-grow: 1;
}

.singer-page-text {
  font-family: 'Archivo Narrow', sans-serif;
}

.chorus-div {
  display: flex; 
}

.singer-button {
  font-family: 'Archivo Narrow', sans-serif;
  padding: 5px 7px; 
  border: 1px solid #7E7E7E;
  width: 55px;
  background-color: transparent;
  align-self: center;
  margin: 0px 30px;

}

.individual-chorus-div {
  /* display: flex;
  flex-direction: column; */
}